{
  "extends": "universe/native",
  "rules": {
    "prettier/prettier": "off",
    "object-curly-spacing": ["warn", "always"],
    "semi": ["warn", "never"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "import/no-anonymous-default-export": "off",
    "react/jsx-first-prop-new-line": "error",
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "react/jsx-closing-tag-location": "error",
    "react/jsx-props-no-multi-spaces": "error"
  }
}
